{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "jest": true
  },
  "rules": {
    "react/jsx-indent": [4, 4]
  }
}
